<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
	<typeAliases>
		<!-- 用户 -->
		<typeAlias alias="user" type="com.celink.xieservice.app.pojo.User" />
		<typeAlias alias="address" type="com.celink.xieservice.app.pojo.Address" />
		<typeAlias alias="advertise" type="com.celink.xieservice.app.pojo.Advertise" />
		<typeAlias alias="order" type="com.celink.xieservice.app.pojo.Order" />
		
	</typeAliases>
</configuration>		
			